a {
  text-decoration: none;
  outline: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

input {
  outline: none;
}

body {
  font-family: "Roboto";
}

img {
  display: block;
}

/* container */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: solid red; */
}

:root {
  --background-blue: #1296F3;
  --text-color: #757575;
  --white: #FFF;
  --black: #212121;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  /* &__studio-page:hover::after {
      transform: scale(1);
  } */
}
.header__logo-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  padding-bottom: 25px;
  padding-top: 24px;
}
.header__logo-color {
  color: var(--background-blue);
}
.header__nav {
  display: flex;
}
.header__list {
  display: flex;
  margin-left: 93px;
  gap: 50px;
  padding-top: 32px;
  /* padding-bottom: 32px; */
  position: relative;
}
.header__page {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__page:hover, .header__page:focus {
  color: var(--background-blue);
}
.header__studio-page {
  color: var(--background-blue);
}
.header__portfolio-page::after {
  content: "";
  width: 72px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--background-blue);
  cursor: default;
  position: absolute;
  bottom: 0;
  right: 114px;
  transition-property: transform;
  transition-duration: 200ms;
  transform: scale(0);
}
.header__portfolio-page:hover::after .header__portfolio-page:focus::after {
  transform: scale(1);
}
.header__contacts-page::after {
  content: "";
  width: 64px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--background-blue);
  cursor: default;
  position: absolute;
  bottom: 0;
  right: 0;
  transition-property: transform;
  transition-duration: 200ms;
  transform: scale(0);
}
.header__contacts-page:hover::after .header__contacts-page:focus::after {
  transform: scale(1);
}
.header__contacts-list {
  display: flex;
  margin-left: 315px;
  gap: 30px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header__contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  display: flex;
  gap: 10px;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts-link:hover, .header__contacts-link:focus {
  color: var(--background-blue);
}
.header__contacts-envelope {
  width: 16px;
  height: 12px;
  fill: var(--text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts-link:hover .header__contacts-envelope, .header__contacts-link:focus .header__contacts-envelope {
  fill: var(--background-blue);
}
.header-contacts-smartphone {
  width: 10px;
  height: 16px;
  fill: var(--text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts-link:hover .header-contacts-smartphone, .header__contacts-link:focus .header-contacts-smartphone {
  fill: var(--background-blue);
}

.main {
  padding-top: 80px;
}

.hero {
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4) 40%, rgba(47, 48, 58, 0.4) 40%), url(../../img/main-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 200px;
  padding-top: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
}
.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  width: 216px;
  height: 50px;
  transition-property: transform;
  transition-duration: 250ms;
}
.hero__button:hover, .hero__button:focus {
  transform: scale(1.075);
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features__list {
  display: flex;
  gap: 30px;
}
.features__item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: rgb(245, 244, 250);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.features__first::before {
  background-image: url(../../img/features-antenna.webp);
}
.features__second::before {
  background-image: url(../../img/features-clock.webp);
}
.features__third::before {
  background-image: url(../../img/features-computer.webp);
}
.features__fourth::before {
  background-image: url(../../img/features-man.webp);
}
.features__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.features__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.work {
  padding-bottom: 94px;
}
.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  margin-bottom: 50px;
}
.work__list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.work__item {
  position: relative;
}
.work__img {
  width: 370px;
  height: 294px;
}
.work__text {
  color: var(--white);
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 224px;
  left: 0;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: rgb(245, 244, 250);
}
.team .team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  margin-bottom: 50px;
}
.team .team__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.team .team__item {
  border-radius: 0px 0px 4px 4px;
  background-color: white;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  width: 270px;
}
.team .team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  margin-top: 30px;
}
.team .team__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 10px;
}
.team .team__list-icon {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  margin-bottom: 30px;
  justify-content: center;
}
.team .team__item-icon {
  width: 44px;
  height: 44px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team .team__link-icon {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team .team__link-icon:hover,
.team .team__link-icon:focus {
  background-color: var(--background-blue);
}
.team .team__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-property: fiil;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team .team__link-icon:focus .team__icon,
.team .team__link-icon:hover .team__icon {
  fill: var(--white);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  color: var(--black);
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  align-items: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-item {
  max-width: 170px;
}

.clients-link:hover,
.clients-link:focus {
  border-radius: 4px;
  border: 1px solid var(--background-blue);
}

.clients-link {
  display: flex;
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  outline: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--background-blue);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.no-scroll {
  overflow: hidden;
}

.modal-container {
  border-radius: 4px;
  max-width: 528px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  position: relative;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white);
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close:hover .close-icon, .modal-close:focus .close-icon {
  fill: var(--background-blue);
}

.close-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 11px;
  height: 11px;
  fill: #000000;
}

.modal-title {
  color: var(--black);
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  justify-content: center;
}

.form-list {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form-item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-item:hover .modal-icon, .form-item:focus .modal-icon {
  fill: var(--background-blue);
}

.form-item:hover .modal-input, .form-item:focus .modal-input {
  border-radius: 4px;
  border: 1px solid var(--background-blue);
}

.modal-icon {
  width: 12px;
  height: 12px;
  fill: var(--black);
  position: absolute;
  bottom: 14px;
  left: 15px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.modal-box:hover .comment-input, .modal-box:focus .comment-input {
  border-radius: 4px;
  border: 1px solid var(--background-blue);
}

.modal-lable {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
  justify-content: left;
}

.modal-input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-top: 12px;
  padding-left: 42px;
  padding-bottom: 12px;
  outline: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-input {
  width: 448px;
  height: 120px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 20px;
  padding: 12px 16px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-input::-moz-placeholder {
  padding-left: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.comment-input::placeholder {
  padding-left: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.checkbox-box {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 8px;
}

.text-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox-custom {
  position: absolute;
  left: -23px;
  top: 4.5px;
  width: 16px;
  height: 15px;
  background-color: var(--white);
  border-radius: 2px;
  border: 2px solid var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-input:checked + .form-text > .checkbox-custom {
  background-color: var(--background-blue);
  border: none;
}

.checkbox-icon {
  width: 13px;
  height: 10px;
  fill: var(--white);
  opacity: 0;
}

.text-input:checked + .form-text > .checkbox-custom > .checkbox-icon {
  opacity: 1;
}

.form-text {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  position: relative;
}

.modal-link {
  color: var(--background-blue);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.modal-button {
  display: block;
  width: 200px;
  height: 50px;
  color: var(--white);
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  padding: 10px 52px;
  border-radius: 4px;
  background: var(--background-blue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
}

.modal-button:hover, .modal-button:focus {
  transform: scale(1.075);
}

.footer-box {
  display: flex;
  justify-content: space-between;
}

.footer-nav {
  margin-right: 70px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white);
}

.footer-color {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--background-blue);
}

.footer-list {
  margin-top: 9px;
  gap: 9px;
}

.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--white);
  margin-top: 20px;
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.social-title {
  color: var(--white);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.social-list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.social-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--background-blue);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--white);
}

.footer-form {
  margin-left: 93px;
}

.footer-lable {
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-form-box {
  display: flex;
  margin-top: 20px;
  gap: 12px;
}

.footer-input {
  width: 358px;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  transition: border 250ms;
}

.footer-input:hover {
  border: 1px solid var(--background-blue);
}

.footer-submit {
  display: flex;
  border-radius: 4px;
  background: var(--background-blue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  align-items: center;
  transition: background 250ms;
}

.footer-submit:hover,
.footer-submit:focus {
  background-color: var(--white);
}

.submit-title {
  color: var(--white);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  transition: color 250ms;
}

.footer-submit:hover .submit-title,
.footer-submit:focus .submit-title {
  color: var(--background-blue);
}

.form-icon {
  width: 24px;
  height: 24px;
  fill: var(--white);
  transition: fill 250ms;
}

.footer-submit:hover .form-icon,
.footer-submit:focus .form-icon {
  fill: var(--background-blue);
}/*# sourceMappingURL=main.css.map */