body {
    font-family: 'Roboto';
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: solid red; */
    margin-left: auto;
    margin-right: auto;
}

/* header  */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    padding-bottom: 25px;
    padding-top: 24px;
}

.logo-color {
    color: var(--background-blue);
}

.header-nav {
    display: flex;
}

.header-list {
    display: flex;
    margin-left: 93px;
    gap: 50px;
    padding-top: 32px;
    /* padding-bottom: 32px; */
    position: relative;
}

.contacts-list {
    display: flex;
    margin-left: 315px;
    gap: 30px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-studio::after {
    content: '';
    border-radius: 2px;
    background-color: var(--background-blue);
    width: 48px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: default;
    transition-property: transform;
    transition-duration: 200ms;
    transform: scale(0);
}

.link-studio:hover::after {
    transform: scale(1);
}


.link-portfolio {
    color: var(--background-blue);
    display: flex;
    flex-direction: column;
    gap: 28px;
}


.link-portfolio::after {
    content: '';
    width: 72px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--background-blue);
    cursor: default;
    position: absolute;
    bottom: 0;
    right: 114px;
    /* transition-property: transform;
    transition-duration: 200ms;
    transform: scale(0); */
}

/* .link-portfolio:hover::after {
    transform: scale(1);
} */

.link-contacts::after {
    content: '';
    width: 64px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--background-blue);
    cursor: default;
    position: absolute;
    bottom: 0;
    right: 0;
    transition-property: transform;
    transition-duration: 200ms;
    transform: scale(0);
}

.link-contacts:hover::after {
    transform: scale(1);
}

.header-link:hover,
.header-link:focus {
    color: var(--background-blue);

}

/* contacts  */

.contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    display: flex;
    gap: 10px;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover .contacts-icon-envelope,
.contacts-link:focus .contacts-icon-envelope {
    fill: var(--background-blue);

}

.contacts-icon-envelope {
    width: 16px;
    height: 12px;
    fill: var(--text-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-icon-smartphone {
    width: 10px;
    height: 16px;
    fill: var(--text-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover .contacts-icon-smartphone,
.contacts-link:focus .contacts-icon-smartphone {
    fill: var(--background-blue);

}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--background-blue);

}

.header-line {
    border: 1px solid #ECECEC;
}

/* main  */

.main {
    padding-top: 80px;
}

.main-list {
    display: flex;
    gap: 8px;
    justify-content: center;
    padding-top: 94px;
    margin-bottom: 50px;
}

.main-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black);
    border-radius: 4px;
    background-color: #F5F4FA;
    padding: 6px 25px;
    transition-property: background, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
    color: var(--white);
    background-color:  var(--background-blue);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    padding-bottom: 94px;
    gap: 30px;
}

.card-link {
    display: block;
    overflow: hidden;
}

.card-item {
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
    overflow: hidden;
    border: 1px solid var(--white);
    background: var(--white);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-item:hover, .card-item:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.card-img {
    margin-bottom: 20px;
    width: 370px;
    height: 294px;
}

.card-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
    margin-left: 24px;
    margin-right: 24px;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 20px;
}

.card-link:hover .card-overlay,
.card-link:focus .card-overlay {
    transform: translateX(0);
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 294px;
    transform: translateX(100%);
    background-color: rgba(33, 150, 243, 0.90);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: transform;
    transition-duration: 200ms;

}

.card-subtitle {
    color: var(--white);

    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 0.54px;
    width: 322px;
}

/* footer  */

.footer-box {
    display: flex;
    justify-content: space-between;
}

.footer-nav {
    margin-right: 70px;
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--white);
}

.footer-color {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--background-blue);
}

.footer-list {
    margin-top: 9px;
    gap: 9px;
}


.footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--white);
    margin-top: 20px;
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.social-title {
    color: var(--white);
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.social-list {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.social-link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--background-blue);

}

.social-icon {
    width: 20px;
    height: 20px;
    fill: var(--white);
}

.footer-form {
    margin-left: 93px;
}

.footer-lable {
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-form-box {
    display: flex;
    margin-top: 20px;
    gap: 12px;
}

.footer-input {
    width: 358px;
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: rgba(255, 255, 255, 0.60);

    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.48px;
    transition: border 250ms;
}

.footer-input:hover {
    border: 1px solid var(--background-blue);
}

.footer-submit {
    display: flex;
    border-radius: 4px;
    background: var(--background-blue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: 28px;
    align-items: center;
    transition: background 250ms;
}

.footer-submit:hover,
.footer-submit:focus {
    background-color: var(--white);
}

.submit-title {
    color: var(--white);

    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    transition: color 250ms;
}

.footer-submit:hover .submit-title,
.footer-submit:focus .submit-title {
    color: var(--background-blue);
}

.form-icon {
    width: 24px;
    height: 24px;
    fill: var(--white);
    transition: fill 250ms;
}

.footer-submit:hover .form-icon,
.footer-submit:focus .form-icon {
    fill: var(--background-blue);
}