.header-WebStudio { 
    font-family: 'Raleway';
 font-weight: 700;
 font-size: 26px;
 line-height: 1.19;
 letter-spacing: 0.03em;
 }
 
 .header-link {    
     font-family: 'Roboto';
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
 color: #212121;
 }
 
 .header-link:hover{
     color: #2196F3;
 }

.main-button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.main-button:hover {
    font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.main-name {    
    font-family: 'Roboto';
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}

.main-text {      
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: #757575;
}

.footer-WebStudio{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.footer-address{
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.footer-link{
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.17;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
