.clients {
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
        color: $black;
        text-align: center;
        font-family: 'Roboto';
        font-size: 36px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.08px;
        align-items: center;
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        gap: 30px;
    }

    &__item {
        max-width: 170px;
    }

    &__link {
        display: flex;
        padding: 16px 32px;
        border-radius: 4px;
        border: 1px solid #AFB1B8;
        outline: none;
        transition-property: border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover,
    &__link:focus {
    border-radius: 4px;
    border: 1px solid $bg-color;
    }

    &__icon {
        width: 106px;
        height: 60px;
        fill: #AFB1B8;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover &__icon,
    &__link:focus &__icon {
    fill: $bg-color;
    }
}