.clients {
    @include padding-section(94px, auto, 94px, auto);

    &__title {
        @include text-styles('Roboto', 700, 36px, normal, 1.08px, $black);
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        gap: 30px;
    }

    &__item {
        max-width: 170px;
    }

    &__link {
        display: flex;
        padding: 16px 32px;
        border-radius: 4px;
        border: 1px solid #AFB1B8;
        outline: none;
        @include transition(border);
    }

    &__link:hover,
    &__link:focus {
    border-radius: 4px;
    border: 1px solid $bg-color;
    }

    &__icon {
        width: 106px;
        height: 60px;
        fill: #AFB1B8;
        @include transition(fill);
    }

    &__link:hover &__icon,
    &__link:focus &__icon {
    fill: $bg-color;
    }
}