.clients {
    @include padding-section(94px, auto, 94px, auto);
    
    @media screen and (min-width: 768px) {
        
    }

    &__title {
        @include text-styles('Roboto', 700, 28px, normal, 0.84px, $black);
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
        
        @media screen and (min-width: 1200px) {
            @include text-styles('Roboto', 700, 36px, normal, 1.08px, $black);
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 30px;
        row-gap: 30px;
        flex-wrap: wrap;
    }

    &__item {
        width: 210px;

        @media screen and (min-width: 768px) {
            width: 226px;
        }

        @media screen and (min-width: 1200px) {
            max-width: 170px;
        }
    }

    &__link {
        display: flex;
        @include padding-section(16px, 32px, 16px, 32px);
        border-radius: 4px;
        border: 1px solid #AFB1B8;
        outline: none;
        @include transition(border);
    }

    &__link:hover,
    &__link:focus {
    border-radius: 4px;
    border: 1px solid $bg-color;
    }

    &__icon {
        width: 106px;
        height: 60px;
        fill: #AFB1B8;
        @include transition(fill);
        margin-right: auto;
        margin-left: auto;
    }

    &__link:hover &__icon,
    &__link:focus &__icon {
    fill: $bg-color;
    }
}