.features-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-item::before {
    content: '';
    display: block;
    width: 270px;
    height: 120px;
    background-color: rgb(245, 244, 250);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.first-text::before {
    background-image: url(../img/features-antenna.png);
}

.second-text::before {
    background-image: url(../img/features-clock.png);
}

.third-text::before {
    background-image: url(../img/features-computer.png);
}

.fourth-text::before {
    background-image: url(../img/features-man.png);
}

.features-list {
    display: flex;
    gap: 30px;
}

.features-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}

.features-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}