.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.20);
    opacity: 1;
    @include transition(opacity visibility);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
   }
   
   .no-scroll {
    overflow: hidden;
   }

.modal {
    border-radius: 4px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    @include padding-section(40px, 40px, 40px, 40px);
    position: relative;
    @include transition(opacity);

    @media screen and (min-width: 320px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        max-width: 450px;
        display: block;
    }

    @media screen and (min-width: 1200px) {
        max-width: 528px;
    }

    &__button-close {
        cursor: pointer;
        width: 30px;
        height: 30px;
        border: 1px  solid rgba(0, 0, 0, 0.10);
        border-radius: 50%;
        background-color: $white;
        position: absolute;
        top: 8px;
        right: 8px;
        @extend %flex;
    }

    &__close-icon {
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        width: 11px;
        height: 11px;
        fill: #000000;
    }

    &__button-close:hover &__close-icon,
    &__button-close:focus &__close-icon {
        fill: $bg-color;
    }

    &__title {
    @include text-styles('Roboto', 700, 20px, normal, 0.6px, $black);
    justify-content: center;
    text-align: center;
    }

    &__form-list {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    &__form-item {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__form-icon {
        width: 12px;
        height: 12px;
        fill: $black;    
        position: absolute;
     bottom: 14px;
     left: 15px;
     @include transition(fill);
    }

    &__form-item:hover &__form-icon
    &__form-item:focus &__form-icon {
    fill: $bg-color;
    }

    &__form-lable {
    @include text-styles('Roboto', 400, 12px, normal, 0.12px, $text-color);
    margin-bottom: 4px;
    justify-content: left;
    }

    &__form-input {
        width: 448px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.20); 
        @include padding-section(12px, auto, 12px, 42px);
        outline: none;
        @include transition(border);

        @media screen and (min-width: 768px ) {
            max-width: 370px;
        }

        @media screen and (min-width: 1200px) {
            max-width: 448px;
        }
    }

    &__form-item:hover &__form-input,
    &__form-item:focus &__form-input {
    border-radius: 4px;
    border: 1px solid $bg-color;
    }

    &__form-box {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    &__comment-input {
        height: 120px;
        outline: none;
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.20);
        margin-bottom: 20px;
        @include padding-section(12px, 16px, 12px, 16px);
        @include transition(border);

        @media screen and (min-width: 768px) {
            min-width: 370px;
        }

        @media screen and (min-width: 1200px) {
            max-width: 448px;
        }
    }

    &__comment-input::placeholder {
        @include padding-section(12px, 16px, 12px, 16px);
    @include text-styles('Roboto', 400, 12px, normal, 0.12px, rgba(117, 117, 117, 0.50));
    }

    &__form-box:hover &__comment-input,
    &__form-box:focus &__comment-input {
        border-radius: 4px;
        border: 1px solid $bg-color;
    }

    &__form-checkbox {
        @extend %flex;
        gap: 8px;
    }

    &__checkbox-input {
        appearance: none;
    }

    &__checkbox-lable {
        @include text-styles('Roboto', 400, 14px, 1.71, 0.42px, $text-color);
        position: relative;
    }

    &__checkbox-custom { 
        position: absolute;
        left: -23px;
        top: 4.5px;
    
        width: 16px;
        height: 15px;
        background-color: $white;
        border-radius: 2px;
    
        border: 2px solid $black;
    
        @extend %flex;
    }

    &__checkbox-input:checked + &__checkbox-lable > &__checkbox-custom {
        background-color: $bg-color;
        border: none;
    }

    &__checkbox-icon {
        width: 13px;
        height: 10px;
        fill: $white;
        opacity: 0;
    }

    &__checkbox-input:checked + &__checkbox-lable > &__checkbox-custom > &__checkbox-icon {
        opacity: 1;
    }

    &__checkbox-link {
        text-decoration-line: underline;

        @media screen and (min-width: 768px) {
            @include text-styles('Roboto', 400, 12px, normal, 0.36px, $bg-color)
        }

        @media screen and (min-width: 1200px) {
            @include text-styles('Roboto', 400, 14px, 24px, 0.42px, $bg-color);
        }
    }

    &__form-button {
        display: block;
        width: 200px;
        height: 50px;
    @include text-styles('Roboto', 700, 16px, 1.87, 0.96px, $white);
    @include padding-section(10px, 52px, 10px, 52px);
    border-radius: 4px;
    background: $bg-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    justify-content: center;
    @include margin(30px, auto, auto, auto);
    @include transition(transform);
    transform: scale(1);
    }

    &__form-button:hover,
    &__form-button:focus {
    transform: scale(1.075);
    }
}