.hero {
    padding-top: 80px;

    &__line {
        border: 1px solid #ECECEC;
    }

    &__list {
        display: flex;
        gap: 8px;
        justify-content: center;
        padding-top: 94px;
        margin-bottom: 50px;
    }

    &__button {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: $black;
        border-radius: 4px;
        background-color: $white;
        padding: 6px 25px;
        transition-property: background, color, box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__button:hover,
    &__button:focus {
    color: $white;
    background-color:  $color-blue;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    }

    &__card-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
        padding-bottom: 94px;
        gap: 30px;
    }

    &__card-item {
        flex-basis: calc((100% - 60px) / 3);
        position: relative;
        overflow: hidden;
        border: 1px solid $white;
        background: $white;
        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__card-item:hover,
    &__card-item:focus {
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }

    &__card-link {
        display: block;
        overflow: hidden;
    }

    &__card-img {
        margin-bottom: 20px;
        width: 370px;
        height: 294px;
    }   

    &__card-name {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: $black;
        margin-bottom: 4px;
        margin-left: 24px;
        margin-right: 24px;
    }

    &__card-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        color: $text-color;
        margin-left: 24px;
        margin-right: 24px;
        padding-bottom: 20px;
    }

    &__card-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 370px;
        height: 294px;
        transform: translateX(100%);
        background-color: rgba(33, 150, 243, 0.90);
        display: flex;
        justify-content: center;
        align-items: center;
        transition-property: transform;
        transition-duration: 200ms;
    
    }

    &__card-link:hover &__card-overlay,
    &__card-link:focus &__card-overlay {
    transform: translateX(0);
    }

    &__card-subtitle {
        color: $white;
    
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 400;
        line-height: 1.55;
        letter-spacing: 0.54px;
        width: 322px;
    }
}