.team {
    @include padding-section(94px, auto, 94px, auto);
    background-color: rgb(245, 244, 250);

    &__title {
        @include text-styles('Roboto', 700, 36px, 1.16, 0.03em, $black);
        margin-bottom: 50px;
        text-align: center;
    }

    &__list {
        @extend %flex;
        gap: 30px;
    }

    &__item {
        border-radius: 0px 0px 4px 4px;
        background-color: white;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        width: 270px;
    }

    &__name {
        @include text-styles('Roboto', 500, 16px, 1.18, 0.03em, $black);
        margin-top: 30px;
        text-align: center
    }

    &__description {
        @include text-styles('Roboto', 400, 16px, 1.18, 0.03em, $text-color);
        text-align: center;
        margin-top: 10px;
    }

    &__list-icon {
        @extend %flex;
        gap: 10px;
        @include margin(16px, auto, 30px, auto)
    }

    &__item-icon {
        width: 44px;
        height: 44px;
        @include transition(fill);
    }

    &__link-icon {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
        @extend %flex;
        outline: none;
        @include transition();
    }

    &__link-icon:hover,
    &__link-icon:focus {
    background-color: $bg-color;
    }

    &__icon {
        width: 20px;
        height: 20px;
        fill: #AFB1B8;
        @include transition(fill);
    }

    &__link-icon:focus &__icon,
    &__link-icon:hover &__icon {
    fill: $white;
    }
}