@mixin text-styles($fontF: 'Roboto', $fontW: 500, $fontS: 14px, $lineH: 1.14, $space: 0.02em, $color: $black){
    font-family: $fontF;
    font-weight: $fontW;
    font-size: $fontS;
    line-height: $lineH;
    letter-spacing: $space;
    color: $color;
}

@mixin padding-section($paddingT: 60px, $paddingR: 28px, $paddingB: 60px, $paddingL: 28px){
padding-top: $paddingT;
padding-right: $paddingR;
padding-bottom: $paddingB;
padding-left: $paddingL;
}

@mixin margin($marginT: auto, $marginR: auto, $marginB: auto, $marginL: auto){
    margin-top: $marginT;
    margin-right: $marginR;
    margin-bottom: $marginB;
    margin-left: $marginL;    
}

@mixin transition($transitionP: background, $transitionD: 250ms, $transitionT: cubic-bezier(0.4, 0, 0.2, 1)){
    transition-property: $transitionP;
    transition-duration: $transitionD;
    transition-timing-function: $transitionT;
}